@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
/* forgive me, above is the contents of catppuccin mocha's waybar css file */
* {
	font-family: Iosevka NF;
}
window#waybar {
	background-color: @surface0;
/*	padding: 0px 5px;
	margin: 5px 10px 5px; */
	border-radius: 10px;
}
#clock,
#audio,
#mpd,
#battery,
#cpu,
#disk,
#memory {
	padding: 5px; 
	border-radius: 10px;
	border: 0.2em solid #cba6f7;
	background: @surface2;
	min-height: 0;
	margin: 0.2em;
}
#dtray {
	margin: 0px 10px 0px;
	padding: 0px 10px 0px;
}
#wireplumber.muted {
	border: 0;
	color: #888888;
}
#mpd.stopped {
	background-color: @surface0;
	border: 0;
}
#mpd.playing {
	background: @mauve;
}
.mpdcontrol {
	background-color: @surface0; 
/*	border-radius: 10px; */
	font-size: 1.2em;
}

#custom-playpause {
	background-color: #e5a6f7; 
	padding-right: 10px; 
	padding-left: 5px;
}
#custom-prev {
	background-color: #F7A6E8;
	padding-right: 7px;
	padding-left: 6px;
}
#custom-next {
	background-color: #FAA5B7;
	padding-right: 8px;
	padding-left: 6px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#mpdg:hover {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background: #e5a6f7; 	
} 
#battery.charging {
	background: @mauve;
}
#cava {
        margin-left: 0.2em;
        color: @mauve;
}
#cpu.highcpu {
	background: @mauve;
}
